<div class="container">
  <div class="card current-song" *ngIf="currentSong">
    <div class="cover-container">
      <img src="{{currentSong.song.cover || 'default_cover.png'}}"  class="cover-image">
    </div>
    <div class="info">
      <div class="info2">
        <div class="title-artist">
          <div class="queue-title">{{currentSong.song.title}}</div>
          <div class="queue-artist">{{currentSong.song.artist}}</div>
        </div>

      </div>

      <div class="queue-bottom">
        <div class="queue-user">
          <mat-icon>music_note</mat-icon>
          {{currentSong.user}}</div>
          <div class="playing-label">Singing</div>
      </div>
    </div>
  </div>
  <div class="queue-length" *ngIf="currentQueue?.length">{{currentQueue.length}} song{{currentQueue.length > 1 ? 's' : '' }}</div>
  <mat-table [dataSource]="currentQueue" *ngIf="currentQueue?.length">
    <ng-container matColumnDef="card">
      <mat-header-cell *matHeaderCellDef> User</mat-header-cell>
      <mat-cell *matCellDef="let entry">
        <div class="card">
          <div class="cover-container">
            <img src="{{entry.song.cover || 'default_cover.png'}}" class="cover-image">
          </div>
          <div class="info">
            <div class="info2">
              <div class="title-artist">
                <div class="queue-title">{{entry.song.title}}</div>
                <div class="queue-artist">{{entry.song.artist}}</div>
              </div>
            </div>

            <div class="queue-bottom">
              <div class="queue-user">
                <mat-icon>music_note</mat-icon>
                {{entry.user}}</div>
              <div class="queue-eta">{{etaAsStr(entry.eta)}}</div>

            </div>
          </div>

        </div>
      </mat-cell>
    </ng-container>

    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openBottomSheet(row)"
             [ngStyle]="entryOfCurrentUser(row) ? {'background-color':  '#D5EBE4', 'border':'none', 'cursor': 'pointer'} : {}">
    </mat-row>

  </mat-table>

</div>
<div class="container" *ngIf="!currentQueue || !currentQueue.length">
  <span>The queue is empty</span>
</div>
