.container {
  text-align: center;
  padding-top: 3vh;
  padding: 1rem 0;
}

.queue-length {
  text-align: right;
  padding: 10px 10px 5px 5px;
  border-top: 1px solid #E0E0E0;
  color: grey;
}

.queue-card {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.queue-author {
  font-weight: lighter;
}

.queue-title {
  font-weight: bold;
  color: #1C0C18;
}
.queue-artist{
  color: #1C0C18;
  opacity: .65;
}

.queue-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%
}

.queue-bottom .queue-user {
  display: flex;
  align-items: center;
  color: #562549;
}

.queue-bottom .queue-eta {
  display: flex;
  font-size: 1.1rem;
  color: #562549;
}

.card {
  padding-left: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-right: 0.5em;
  text-align: left;
  display: flex;
  flex-direction: row;
  width: 100%;
}
.current-song {
  background-color: #F4F7FF;
  width: revert;
  padding-left: 0.5rem;
  margin-bottom: 0.5rem;

}


mat-cell:first-of-type, mat-footer-cell:first-of-type, mat-header-cell:first-of-type {
padding-left: 0px;
}

.cover-image {
  width: 84px;
  height: 84px;
  background-image: url("/default_cover.png");
}

.cover-container {
  display: flex;
}

.info {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
}

.info2 {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  padding-left: 7px;
}

.playing-label {
  background-color: #07C586;
  color: white;
  border-radius: 2rem;
  padding: 1px 12px;
  margin-left: 6px;
  flex-shrink: 1;
  height: 1.4em;

}

.title-artist {
  flex-direction: column;
  display: flex;
}
.mat-row {
  border: 1px solid #D2D7DC;
  margin: 8px;
}
.mat-table {
  box-shadow: none;

}

.mat-cell:last-of-type{
  padding-right: 0px;
}