<div *ngIf="results?.length">
  <mat-table [dataSource]="results" class="results">
    <ng-container matColumnDef="card">
      <mat-header-cell *matHeaderCellDef> Card</mat-header-cell>
      <mat-cell *matCellDef="let song" class="song-entry">
        <div class="cover-container">
          <img src="{{song.cover || 'default_cover.png'}}" class="cover-image">
        </div>
        <div class="info">
          <div class="display-source">
            <div class="title">{{song.title}}</div>
            <div *ngIf="song.type == 'spotify'">
              <img src="spotify.svg" alt="spotify" class="source spotify">
            </div>
            <div *ngIf="song.type == 'cdg'">
              <div class="source cdg"> CDG</div>
            </div>

            <div *ngIf="song.type == 'video'">
              <div class="source video">video</div>
            </div>
          </div>
          <div class="display-length">
            <div class="display-left">
              <div *ngIf="song.explicit">
                <div class="explicit">E</div>
              </div>
              <div class="artist">{{song.artist}}</div>
              <!-- Design for an informatinal tag that tells that a song is already in the queue
              <div class="in-queue">in queue</div>
              -->
            </div>
            <div class="display-right">
              <div class="song-length">{{etaAsStr(song.length)}}</div>
            </div>
          </div>
        </div>
      </mat-cell>
    </ng-container>
    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openBottomSheet(row)"></mat-row>
  </mat-table>
</div>
<div *ngIf="!results || !results.length ">
  <span>No results</span>
</div>