<mat-nav-list>
  <a mat-list-item (click)="remove($event)" *ngIf="canRemove()">
    <span mat-line>Remove song</span>
  </a>
  <span *ngIf="!canRemove()" mat-line>Cannot remove as it is not your song</span>
</mat-nav-list>
