<div *ngIf="!showControls"><button mat-button (click)="toggleVisible(true)">controls</button>
</div>
<div *ngIf="showControls">
  <button mat-button (click)="toggleVisible(false)">hide</button>
  <button mat-icon-button *ngIf="!playing" (click)="onPlay()" title="Play/Pause">
    <mat-icon>play_arrow</mat-icon>
  </button>
  <button mat-icon-button *ngIf="playing" (click)="onPause()" title="Pause">
    <mat-icon>pause</mat-icon>
  </button>
    <button mat-icon-button (click)="onRestartSong()" title="Restart song">
    <mat-icon>skip_previous</mat-icon>
  </button>
  <button mat-icon-button (click)="onNext()" title="Next">
    <mat-icon>skip_next</mat-icon>
  </button>

</div>
